# The releng team is by default the owner of everything.
*             @jetty/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @jetty/eclipsefdn-security @jetty/eclipsefdn-releng
